@media (max-width: 1299px) {
  .hero_area .hero_bg_box {
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 10px 8px;
    font-size: 13px;
  }
  .header_social {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .hero_area {
    min-height: auto;
  }

  .header_section {
    background: #178066;
    padding: 10px 0;
  }

  .navbar-collapse {
    background: #178066;
    margin: 0 -15px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.1);
  }

  .custom_nav-container .navbar-nav {
    padding-top: 0;
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 12px 25px;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    display: block;
    width: 100%;
  }

  .header_social {
    margin-left: 0;
    justify-content: center;
    padding-top: 15px;
  }

  .slider_section .detail-box {
    margin-bottom: 45px;
    text-align: center;
  }
  
  .slider_section .detail-box .btn-box {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .about_section .img-box {
    margin-bottom: 30px;
  }

  .contact_section .form_container {
    margin-bottom: 45px;
  }

  .hero_area .hero_bg_box img {
    -o-object-position: center top;
    object-position: center top;
  }
  
  .slider_section .detail-box h1, .form-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .slider_section .detail-box h1, .form-title {
    font-size: 1.8rem;
  }

  .about_section {
    padding-left: 10px;
    padding-right: 10px;
  }
}
